*{margin:0px; padding: 0px}
.img1 {
position: relative;
text-align: center;
margin-top:3%;
}

div.info  {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-0%);
  border:1px solid green;
}
img {

max-width: 500px;

}